$secondary: #aa0601;
$secondary-dark: #650300;
$secondary-light:#FBF2F2;
$black: #000;
$gray: #707070;
$white: #fff;

$padding-s: 40px 14px;
$padding-md: 80px 36px;
$padding-xl: 80px 0;

$mb-s: 24px;
$mb-xl: 48px;