<footer class="bg-secondary">
  <div class="footer-blk container mx-auto">
    <div class="d-flex justify-content-between footer-top-blk">
        <div>
            <div class="d-md-block mb-3">
                <ul class="footer-nav-blk d-flex">
                <li class="nav-item">
                    <a
                    href="#"
                    class="d-inline-block text-white footer-nav-text text-bold--hover text-decoration-none"
                    >
                    首頁
                    </a>
                </li>
                <li class="nav-item">
                    <a
                    href="#"
                    class="d-inline-block text-white footer-nav-text text-bold--hover text-decoration-none"
                    >
                    系列鏡框
                    </a>
                </li>
                <li class="nav-item">
                    <a
                    href="contact.html"
                    class="d-inline-block text-white footer-nav-text text-bold--hover text-decoration-none"
                    >
                    門市據點
                    </a>
                </li>
                <li class="nav-item">
                    <a
                    href="#"
                    class="d-inline-block text-white footer-nav-text text-bold--hover text-decoration-none"
                    >
                    部落格
                    </a>
                </li>
                <li class="nav-item">
                    <a
                    href="#"
                    class="d-inline-block text-white footer-nav-text text-bold--hover text-decoration-none"
                    >
                    常見問題
                    </a>
                </li>
                </ul>
            </div>
            <ul class="contact-blk">
                <li class="fz-md-36px mb-1">
                <a
                    href="tel:+886-800-000-00"
                    title="+886-800-000-00(開新視窗)"
                    class="text-decoration-none d-flex align-items-center text-bold--hover"
                >
                    <span
                    class="material-icons material-symbols-outlined text-white contact-icon"
                    >
                    call
                    </span>
                    <span class="text-white fz-md-36px">0800-000-00</span>
                </a>
                </li>
                <li class="fz-md-36px">
                <a> </a>
                <a
                    href="mailto:glasses@business.com"
                    title="發送郵件给 glasses@business.com"
                    class="text-decoration-none d-flex align-items-center text-bold--hover"
                >
                    <span
                    class="material-icons material-symbols-outlined text-white contact-icon"
                    >
                    mail
                    </span>
                    <span class="text-white fz-md-36px">glasses@business.com</span>
                </a>
                </li>
            </ul>
        </div>
        <ul class="social-btn-list d-flex">
        <li class="social-btn-item">
            <a href="#" class="d-block">
            <img
                src="../assets/images/ic-social-fb.png"
                alt=""
                class="d-inline-block btn-social opacity-70--hover"
            />
            </a>
        </li>
        <li class="social-btn-item">
            <a href="#" class="d-block">
            <img
                src="../assets/images/ic-social-ig.png"
                alt=""
                class="d-inline-block btn-social opacity-70--hover"
            />
            </a>
        </li>
        <li class="social-btn-item">
            <a href="#" class="d-block">
            <img
                src="../assets/images/ic-social-line.png"
                alt=""
                class="d-inline-block btn-social opacity-70--hover"
            />
            </a>
        </li>
        </ul>
    </div>
    <div class="footer-bottom-blk d-md-flex justify-content-between">
        <p class="text-white">
            Copyright © 2020 Glasses.All rights reserved.
        </p>
        <ul class="d-md-flex ">
            <li>
                <a href="#" class="text-white text-bold--hover text-decoration-none">隱私權政策</a>
            </li>
            <li>
                <a href="#" class="text-white text-bold--hover text-decoration-none">服務條款</a>
            </li>
        </ul>
    </div>
  </div>
</footer>
