.footer-blk {
  @include xs{
    padding: 16px 24px;
  }
  @include md-to-xl{
    padding: 40px;
  }
}
.contact-icon {
  font-size: 18px;
  padding-right: 11px;
  @include xl{
    font-size: 36px;
    padding-right: 22px;
  }
}
.footer-nav-blk {
  @include md{
    margin-left: -24px;
    margin-right: -24px;
  }
}
.footer-nav-text {
  font-size: 16px;
  @include md-to-xl{
    padding: 8px 24px;
  }
  @include xl{
    padding: 12px 24px;
  }
}
.social-btn-list {
  :first-child{
    padding-left: 0;
  }
  :last-child{
    padding-right: 0;
  }
}
.social-btn-item {
  @include xs{
    padding: 0px 8px;
  }
  @include md{
    padding: 0px 16px;
  }
  
}
footer {
  .btn-social {
    @include xs{
      width: 24px;
      height: 24px;
    }
    @include md-to-xl{
      width: 40px;
      height: 40px;
    }
    @include xl{
      width: 48px;
      height: 48px;
    }
  }
}
.footer-top-blk {
  border-bottom: 1px solid $white;
  @include xs{
    padding-bottom: 24px;
  }
  @include md{
    padding-bottom: 32px;
  }
  @include xl{
    padding-top: 48px;
  }
}
.footer-bottom-blk{
  @include xs{
    padding-top: 16px;
  }
  @include md{
    padding-top: 32px;
  }
  @include xl{
    padding-bottom: 40px;
  }
  p{
    @include xs{
      padding-bottom: 8px;
    }
  }
  ul{
    @include xs{
      margin-bottom: -8px;
    }
    :first-child{
      padding-left: 0;
    }
    :last-child{
      padding-right: 0;
    }
  }
  li{
    padding-bottom: 8px;
    @include md{
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}