nav {
  .logo {
    background: url(../../assets/images/logo-white.png) center center no-repeat;
    background-size: contain;
    width: 80px;
    height: 49px;
    display: block;
    @media (max-width: 1199px) {
      margin-left: 15px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
.nav-text {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
    outline: 1px solid var(--white);
  }
  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.nav-blk {
  @media (min-width: 1200px) {
    margin-left: -32px;
    margin-right: -32px;
  }
}
.nav-item {
  @media (max-width: 767px) {
    width: 50%;
  }
}
