//原生變數(改寫為scss變數，留參考用)
// :root {
//   --primary: #fbf2f2;
//   --primary: #aa0601;
//   --black: #000000;
//   --white: #fff;
// }

.bg-secondary {
  background-color: $secondary;
}
.bg-secondary-light {
  background-color: $secondary-light;
}
.container-banner{
  padding: 0 14px;
}
.container {
  max-width: 1296px;
  @media (min-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
  }
  // @media (min-width: 1200px) and (max-width: 1319px) {
  //   padding-left: 12px;
  //   padding-right: 12px;
  // }
}
.hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.mx-auto {
  margin: 0 auto;
}
.mt-auto{
  margin-top: auto;
}
.text-white {
  color: $white;
}
.text-secondary-dark{
  color: $secondary-dark;
}
.text-gray{
  color: $gray;
}
.text-decoration-none {
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.font-weight-bold{
  font-weight: bold;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.d-md-flex {
  @media (min-width: 768px) {
    display: flex;
  }
}
.d-xl-flex {
  @media (min-width: 1200px) {
    display: flex;
  }
}
.flex-md-row{
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.flex-xl-row{
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end{
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.align-items-end{
  align-items: end;
}
.align-item-md-center {
  @media (min-width: 768px) {
    align-items: center;
  }
}
.align-item-xl-center {
  @media (min-width: 1200px) {
    align-items: center;
  }
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-md-between {
  @media (min-width: 768px) {
    justify-content: space-between;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.h-100 {
  height: 100%;
}
.fz-md-36px {
  @media (min-width: 768px) {
    font-size: 36px;
  }
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2{
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.w-100{
  width: 100%;
}
.d-md-block {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.fz-md-24px{
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.text-bold--hover {
  @media (min-width: 1200px) {
    &:hover,
    &:focus {
      font-weight: bold;
      transition: all 0.3s ease-in-out;
    }
  }
}
.opacity-70--hover {
  @media (min-width: 1200px) {
    &:hover,
    &:focus {
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }
  }
}
.btn-darken--hover{
  @media (min-width: 1200px) {
    &:hover,
    &:focus {
      background-color: darken($secondary, 10%);
    }
  }
}
.section-padding{
  padding: $padding-s;
  @media (min-width: 768px) {
    padding: $padding-md;
  }
  @media (min-width: 1200px) {
    padding: $padding-xl;
  }
}
.mb-rwd{
  margin-bottom: $mb-s;
  @media (min-width: 1200px) {
    margin-bottom: $mb-xl;
  }
}
