.store-list{
  @media (min-width: 768px) {
  margin: 0 -12px;
  }
}
.store-list-blk {
  @include md-to-xl{
    width: 50%;
  }
  @include md{
    padding: 0 12px;
  }
  @include xl{
    width: 33.33333%;
  }
}

.store-card {
  .title {
    font-size: 24px;
    padding: 8px 24px;
    border: 1px solid $light-gray;
  }
  ul {
    padding: 16px 24px;
    border: 1px solid $light-gray;
  }
  .store-info {
    font-size: 20px;
  }
  .btn-more {
    background-color: $black;
    padding: 16px;
  }
}
